<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Multa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Cedula</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Placa</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Motivo de la multa">
      <ion-select-option value="apples">multa</ion-select-option>
      <ion-select-option value="oranges">multa 2</ion-select-option>
      <ion-select-option value="bananas">multa 3</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Comentario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Latitud</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Longitud</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [showDefaultButtons]="true" id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item></ion-item>
  <ion-button expand="block">Registrar</ion-button>
</ion-content>
