<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://digesett.gob.do/media/k2/items/cache/e50216f3bf021078f78a0e2e997a0047_L.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Lunes, 11 Julio 2022</ion-card-subtitle>
      <ion-card-title>Director de la DIGESETT anuncia medidas de concientización y recomendaciones para peatones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El director de la Dirección General de Seguridad de Tránsito y Transporte Terrestre (DIGESETT), general de brigada Ramón Antonio Guzmán Peralta, P.N., realizó una rueda de prensa en donde anunció las medidas que se pondrán en marcha desde este lunes 11 de julio y que estará dirigidas a los peatones de las vías públicas.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://digesett.gob.do/media/k2/items/cache/dd9b4b0a80eff28fc65a7f105431f022_L.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Lunes, 06 Junio 2022</ion-card-subtitle>
      <ion-card-title>Agentes de la DIGESETT reciben capacitación de “Retroreflectividad” para vehículos pesados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Los agentes de la Dirección General de Seguridad de Tránsito y Transporte Terrestre (DIGESETT) recibieron la capacitación sobre Rectroreflectividad, con el objetivo de que adquieran los conocimientos necesarios en cuanto a la señalización que deben tener los vehículos pesados.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://digesett.gob.do/media/k2/items/cache/55d4420dd6cd56f2e756dd2f75804f62_L.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Viernes, 01 Julio 2022</ion-card-subtitle>
      <ion-card-title>Directores DIGESETT, INTRANT y gobernadora provincial ponen en marcha “plan estratégico” para optimizar tránsito en Santiago y disminuir accidentes vehiculares</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cómo parte del plan entregan camioneta y dos motocicletas, para incrementar patrullaje y la presencia de los miembros de la DIGESETT en las calles; además anuncian apertura de nueva oficina de INTRANT para registro de motocicletas. El registro de motocicleta se inicia este lunes cuatro en la plaza Bella Terra Mall, ubicada en la avenida Juan Pablo Duarte casi esquina Estrella Sadhalá.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://digesett.gob.do/media/k2/items/cache/d1ed2bf3d11f7e7a6f189af32a153713_L.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Sábado, 18 Junio 2022</ion-card-subtitle>
      <ion-card-title>Director de la DIGESETT recibe visita de cortesía de Fafa Taveras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El director general de la Dirección General de Seguridad de Tránsito y Transporte Terrestre (DIGESETT), general de brigada Ramón Antonio Guzmán Peralta, P.N., recibió en su despacho la visita de cortesía del exdiputado Rafael (Fafa) Taveras.
    </ion-card-content>
  </ion-card>
</ion-content>
