<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultar Licencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label> <h3>Consultas para Licencias</h3> </ion-label>
    </ion-list-header>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Ingrese su numero de licencia </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button expand="block">Aceptar</ion-button>
</ion-content>
