<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultar Multas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar placeholder="Search" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let i of multas | filter:filterTerm">
      <label for=""><span style="color: green;">{{i.cedula}}</span> <br> <span>{{i.motivo}}</span> <br> <span style="color: gray;">{{i.comentario}}</span></label>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-button expand="full" (click)="deleteAll()">Borrar todo</ion-button>
  </ion-footer>
</ion-content>
